// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyB7NxrtvZHU5SzK8V0LKE_3_PC29GUZu_g",
  authDomain: "bta3-design.firebaseapp.com",
  projectId: "bta3-design",
  storageBucket: "bta3-design.firebasestorage.app",
  messagingSenderId: "177518298174",
  appId: "1:177518298174:web:a1832c45a3052016a4fd6f"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);